{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 400,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false,
        "explicitTypes": "always",
        "compiler": "0.7.6"
      }
    }
  ]
}
